<!DOCTYPE html>
<html>
<head>
  <title>Sports App powered by CodeClan</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/teams">Teams</a></li>
        <!-- <li><a href="/teams/new">New Teams</a></li> -->
        <li><a href="/matches">Matches</li>
        <!-- <li><a href="/matches/new">New Matches</a></li>  -->
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html> -->